.singup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: var(--component-bg);
    margin: 70px;
    padding: 30px 40px;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
}

.username-field {
    margin-top:32px;
}

#name {
    width: 250px;
    height: 2rem;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 1rem;
}

#email {
    width: 250px;
    height: 2rem;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 1rem;
}

#password {
    width: 250px;
    height: 2rem;
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 1rem;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#singup {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 110px;
    height: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: black;
    background-color: rgba(0,0,0,0);
}

#singup:hover {
    font-size: 1.3rem;
    transition: 0.3s;
}

.singup-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ok {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 110px;
    height: 2rem;
    font-weight: bold;
    color: green;
}